@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
  }
  
  

  body {
    margin: 0;
    padding: 0;
  }
  
  .main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

    
  }


  .left {
    background-image: url('./images/halie-west.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Norse-Bold, sans-serif;


    width: 35vw;
    

  }

  .right {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }

  .div-1 {
    height: 30vh;
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    background-color: #ffe;


  }

  .div-2 {
    height: 35vh;
    display: flex;
   

}

.div-3 {
    height: 30vh;

}            

.form-main {
    display: flex;
    flex-direction: row;
}

.first-prt {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.prt1 {
    display: flex;
    flex-direction: column;

}

.prt2 {
    display: flex;
    flex-direction: column;

}

.prt3 {
    display: flex;
    flex-direction: column;

}


